!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations!
    %p
      You have successfully received the code from
      = @company
      %br
      %br
    Your code is:
    %br
    %h2= @code
    %p
      Blablabla
    %p Have a great day!