.jumbotron
  %p We are very sorry! Codes for this offer have been exhausted. But here's a cat for you. 

  %p.middle
    %a.middle{href: "http://thecatapi.com"}
      %img{src: "http://thecatapi.com/api/images/get?format=src&type=gif"}/