.jumbotron
  %p.text-center We are very sorry! Codes for this offer have been exhausted. But here's a cat for you.

  %p
    %a{href: "http://thecatapi.com"}
      %img.img-responsive.center-block{src: "http://thecatapi.com/api/images/get?format=src&type=gif"}/
