connection: &connection
  adapter: postgresql
  encoding: unicode
  host:     localhost
  pool: 5
  username: workshop
  password: secret

development:
  <<: *connection
  database: tapkoder_development

production:
  adapter: postgresql
  encoding: unicode
  database: tapkoder_production

test: &test
  <<: *connection
  database: tapkoder_test
