.middle {
  width: 800px;
  margin: 0 auto; 
}

.offer {
  height: 290px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}
body {
  padding-top: 70px;
}
#info{
  margin-top: 10px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
}
#info-edit a{
  color: orange !important;
}
#info-remove a{
  color: red !important;
}
.info-success{
  color: green;
}
.info-warning{
  color: orange;
}
.info-danger{
  color:red;
}

.info{
   border: 1px solid #eee;
   margin-top: 30px;
  .row:nth-child(2n) {
    background-color: #eee;
  }
 }

.info-description p{
  border: 1px solid #eee;
  margin-top: 30px;
  font-size: 14px;
  padding: 25px;
}
#login{
  .dropdown{
    display: none;
  }
  .button{
    display: block;
  }
}



@media (min-width: 768px) { 

#login{
  .dropdown{
    display: block;
  }
  .dropdown-menu{
    padding: 15px;
    right:0px;
    left:auto;
    width:300px;
  }
  .button{
    display: none;
  }
}
}